h1{color: rgba(4, 68, 75, 0.976);font-family:'Lato'}
h2{color:rgba(4, 68, 75, 0.795);font-family:'Lato'}
h3{color: rgb(6, 133, 147);font-family:'Lato'}
h4{color: black;font-family:'Lato'}
p{color: rgba(4, 68, 75, 0.976);font-family:'Lato'}
ol{color: black;font-family:'Lato'}
ul{color: black;font-family:'Lato'}
body{background-color:rgba(4, 68, 75, 0.267)}

#button{display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: rgb(6, 133, 147) -2px -2px 0px 2px, rgb(84, 243, 246) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    :hover{
        box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
        transform: scale(1.01);}}