h1{color: rgba(4, 68, 75, 0.976);font-family:'Lato';}
h2{color:rgba(4, 68, 75, 0.795);font-family:'Lato'}
h3{color: rgb(6, 133, 147);font-family:'Lato'}
p{color: rgba(4, 68, 75, 0.976);font-family:'Lato'}
ol{color: black;font-family:'Lato'}
ul{color: black;font-family:'Lato'}

display: inline-block;
outline: none;
cursor: pointer;
border-radius: 3px;
font-family:'Lato'
font-size: 14px;
font-weight: 500;
line-height: 16px;
padding: 2px 16px;
height: 32px;
min-width: 60px;
min-height: 32px;
border: none;
color: #fff;
background-color: rgb(88, 101, 242);
transition: background-color .17s ease,color .17s ease;
:hover {
    background-color: rgb(6, 133, 147);
}
