h1{color: rgba(4, 68, 75, 0.976)}
h2{color:rgba(4, 68, 75, 0.795)}
h3{color: rgb(6, 133, 147)}
p{color: black;}
ol{color: black;}
ul{color: black;}
body{ background-color: rgba(4, 68, 75, 0.207);font-family: Lato;}
